/* notification.css */

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure notifications are on top */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    width: 300px; /* Adjust width as needed */
    opacity: 0; /* Initially hidden */
    transform: translateX(100%); /* Initially off-screen */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.notification:not(.hidden) {
    opacity: 1;
    transform: translateX(0);
}

.notification.success {
    border-left: 5px solid green;
}

.notification.error {
    border-left: 5px solid red;
}

.notification.info {
    border-left: 5px solid blue;
}

.innernoti {
    display: flex;
    align-items: center;
}

.notification-icon {
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
    margin-right: 10px;
}

.text-content {
    flex-grow: 1; /* Allow text to take up remaining space */
}

.notification-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.close-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    margin-left: 10px; /* Add space between title and close button */
}